@import url("/home/lu/.cache/wal/colors-waybar.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    FontAwesome,
    JetbrainsMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  background: transparent;
  border-radius: 10px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding-top: 20px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces {
  background: @color0;
  border-radius: 10px;
}

#workspaces button {
  padding: 0 15px;
  background-color: transparent;
  color: @color5;
  transition: all 0.5s;
  border-radius: 10px;
}

#workspaces button.active {
  background: @color1;
  color: @color7;
  border-bottom: 2px solid @color7;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* Modules universal style */
#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#deskinfo,
#custom-notification {
  padding: 0 10px;
  border-radius: 10px;
  margin-right: 8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #383c4a;
  color: @color7;
}

#battery {
  background: #383c4a;
  color: @color7;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: #f53c3c;
}

#backlight {
  background-color: #383c4a;
  color: @color7;
}

#network {
  background-color: #383c4a;
  color: @color7;
  font-size: 0.8em;
  padding-right: 1.7em;
}

#network.disconnected {
  background-color: #f53c3c;
}

#audio {
  border-radius: 10px;
  background: #383c4a;
  color: @color7;
  margin-right: 8px;
}

#cava {
  padding: 0 0 5px 5px;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature.critical {
  color: #eb4d4b;
}

#custom-launcher {
  font-size: 24px;
  margin-bottom: 2px;
  margin-right: 8px;
  padding: 0 10px 0 15px;
  border-radius: 10px;
  color: @color0;
  background: @color7;
}

#window {
  background: #383c4a;
  color: @color7;
}

#mpris {
  background: @color7;
  border-radius: 10px;
  padding: 0 10px;
  color: @color0;
  padding-top: 6px;
}

#deskinfo {
  background: @color7;
  border-radius: 10px;
  color: @color0;
}

#custom-notification {
  background: #383c4a;
  color: @color7;
  padding: 0 1.2em;
}

#custom-power {
  padding: 0 10px;
  padding-left: 15px;
  border-radius: 10px;
  background: @color7;
  margin-right: 2px;
  color: @color0;
}

#custom-updates {
  background: @color7;
  color: @color0;
  border-radius: 10px;
  padding: 0 10px;
}
